/* ABOUT STYLE */
#about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
}
.about__text {
    font-size: 22px;
    line-height: 30px;
}
